body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Merriweather", serif;
}

h3 {
  margin-top: 35px;
}

li {
  margin-top: 13px;
}

a {
  text-decoration: none;
}

.languages {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
}

.personal-info-container {
  position: sticky;
  top: 20%;
  align-self: center;
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  margin-bottom: 50px;
}

.social ul {
  list-style-type: none;
  padding: 0;
}

.tools-projects-container {
  padding: 70px;
}

#projects {
  margin-top: 70px;
}

@media (max-width: 720px) {
  body {
    grid-template-columns: 1fr;
  }

  .languages {
    position: inherit;
  }

  .personal-info-container {
    padding: 50px 0;
  }

  .tools-projects-container {
    padding: 20px;
  }
}
